.layout {
    display: flex;
    min-height: 100vh;
    background: var(--bg-secondary);

    &-main {
        margin-left: 260px;
        width: calc(100% - 260px);
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .layout-content {
            flex: 1;
            padding: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .layout-main {
        margin-left: 0;
        width: 100%;

        .layout-content {
            padding: 1rem;
        }
    }
}